<%# This is a form in HTML that is called from a
    Ruby program using erb /%>
<%# It produces a form on the screen asking for input
    into 2 text fields and providing a submit button /%>

<form action="/names" method="post">
  <div>
    <input type="text" name="Player One">
    <input type="text" name="Player Two">
    <button type="submit">Submit!</button>
  </div>
</form>
